# Ansible specific files
.ansible
.playbooks/**
.inventories/**
*.retry
*.log

# Sensitive files
vault_pass.txt
*.vault

# Python virtual environment
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# macOS resource forks
._*

# Temporary files
*.swp
*.swo
*.tmp
*.bak
*.orig
*.~*

# IDE specific files
.idea/
.vscode/
*.code-workspace